* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --white: #fff;
    --primary: #e21a43;
    --muted: #888;
    --primary-muted: #fce8ec;
    --secondary: #F7F7F7;
    --silver: #666;
}

header {
    display: flex;
    align-items: center;
    height: 110px;
    box-shadow: 0px 0.5px 0px #8888888e;
}

.active {
    background-color: var(--primary);
    color: var(--white)!important;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn-2 {
    color: var(--primary);
    text-transform: uppercase;
    border: 1px solid var(--primary);
    padding: 14px 29px;
    font-weight: 600;
    transition: all 0.3s linear;
    width: max-content;
}

.btn-2:hover {
    background-color: var(--primary);
    color: var(--white);
}


/* section-header */

.section-header {
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}

.section-header::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -30px;
    width: 20px;
    height: 4px;
    background-color: var(--silver);
}

.section-header::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -30px;
    width: 20px;
    height: 4px;
    background-color: var(--silver);
}




.container-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

nav .logo img {
    width: 170px;
    max-width: 180px;
    height: 20px;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.nav-list ul li {
    width: 70px;
    text-align: center;
}

.nav-list a {
    font-size: 16px;
    line-height: 23px;
    color: var(--muted);
}

.nav-list li:hover a {
    color: var(--primary);
    font-weight: 700;
}

.header-right {
    display: flex;
}

.search {
    display: flex;
}

#search {
    background-color: var(--primary-muted);
    padding-left: 15px;
    width: 185px;
    font-size: 16px;
}

#search:focus {
    outline: none;
}

.search button,
.search input {
    border: none;
}

.user-button {
    margin: 0 20px;
}

.search button,
.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.btn-1 {
    background-color: var(--primary-muted);
}

.btn-1 img {
    width: 15px;
    height: 25px;
}




.slider-div {
    position: relative;
    width: 100%;
    display: flex;
    margin: 86px 0;
}

.slider-left h2 {
    font-size: 64px;
    font-weight: 600;
}

.slider-left p {
    font-size: 16px;
    padding-right: 50px;
    margin: 40px 0 35px 0;
}

.slider-btns :nth-child(1) {
    margin-right: 25px;
}

.slider-right img {
    width: 580px;
}

.slider-addisional-div {
    width: 970px;
    display: flex;
    position: absolute;
    bottom: -140px;
    left: 60px;
    max-width: 970px;
    height: 130px;
    justify-content: center;
}

.slider-categories {
    display: flex;
    flex-wrap: nowrap;
    max-width: 970px;
    height: 130px;
    padding: 27px 28px 26px;
    box-sizing: border-box;
    box-shadow: 0px 3px 30px #0a0a0a12;
    background-color: var(--white);
}

.slider-categories div {
    margin: 0 35px;
}

.slider-categories :first-child {
    margin-left: 0;
}

.slider-categories :last-child {
    margin-right: 0;
}

.categories-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    cursor: pointer;
}

.categories-container:hover span {
    color: var(--primary);
}

.categories-container img {
    width: 53px;
    height: 53px;
    margin-bottom: 5px;
}

.categories-container span {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--muted);
}




#new-products {
    background-color: var(--secondary);
}

.new-products-div {
    padding: 135px 0 60px;
}

.fresh {
    width: 270px;
    padding: 8px 8px 25px;
    background-color: var(--white);
    text-align: center;
    text-transform: capitalize;
}

.fresh h3 {
    font-size: 32px;
    font-weight: 700;
}

.fresh a {
    padding: 12px 25px;
    background-color: var(--primary-muted);
    color: var(--primary);
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s linear;
}

.fresh a:hover {
    background-color: var(--primary);
    color: var(--white);
}

.new-products-div {
    display: flex;
}

.new-products-blog {
    display: inline-block;
    text-align: center;
}

.new-products-blog h3 {
    margin: -5px 0 60px;
}

.new-products-slider {
    display: flex;
}

.product {
    padding: 12px 12px 28px;
    background-color: var(--white);
    margin-left: 30px;
    transition: all 0.4s linear;
    position: relative;
}

.product:hover .product-hover {
    display: flex;
}

.product:hover {
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.1);
}

.product-hover {
    box-sizing: border-box;
    position: absolute;
    bottom: 108px;
    left: 50%;
    display: none;
    justify-content: left;
    align-items: center;
    width: 166px;
    height: 40px;
    background-color: var(--white);
    box-shadow: 0px 4px 17px #14141410;
    padding: 0 6px;
    transform: translate(-50%);
}

.product-hover span {
    display: flex;
    align-items: baseline;
    padding: 0 10px;
    border-right: 1px solid var(--silver);
    height: 17px;
}

.product-hover span:hover img {
    background-color: red;
}

.product-hover :last-child {
    border-right: 0;
}

.product p {
    font-size: 18px;
    font-weight: 400;
    color: var(--silver);
    margin: 15px 0 15px;
}

.product-prices h4 {
    display: inline-block;
    margin-right: 5px;
}

.last-price {
    font-size: 24px;
    font-weight: 500;
    text-decoration: line-through;
}

.price {
    font-size: 24px;
    font-weight: 600;
}



#beef {
    background-image: url(../image/Beef-background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.beef-container {
    display: flex;
    padding-bottom: 110px;
}

.beef-prices h4 {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
}

.beef-last-price {
    text-decoration: line-through;
    color: var(--silver);
    margin-right: 15px;
}

.beef-left {
    padding-left: 64px;
}

.beef-left-divs {
    transform: rotate(315deg);
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.beef-div {
    width: 195px;
    height: 195px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.beef-div img {
    transform: rotate(45deg) scale(1.4);
}

#beef-1 {
    width: 195px;
    height: 195px;
}

#beef-2 {
    display: flex;
    align-items: flex-end;
}

#beef-2_1 {
    width: 105px;
    height: 105px;
    background-color: var(--primary-muted);
    border-radius: 5px;
}

#beef-2_2 {
    transform: rotate(45deg);
    position: relative;
    top: 9px;
    left: 9px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#beef-2_2 img {
    transform: rotate(0deg);
}

#beef-2_2 span {
    display: block;
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}

#beef-3 {
    width: 195px;
    height: 195px;
}

#beef-4 {
    width: 195px;
    height: 195px;
}

.beef-right {
    margin: 0 0 0 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.beef-right h2 {
    font-size: 60px;
    font-weight: 600;
}

.beef-prices {
    padding: 40px 0;
}


/* best product selling */

#best-selling-product {
    background-color: var(--secondary);
    padding: 70px 0 150px;
}

.b_s-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.selling-scrolls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling-list ul {
    margin: 20px 0 40px;
    width: 450px;
}

.selling-list li {
    display: inline-block;
    width: 70px;
    text-align: center;
}

.selling-list :nth-child(4) {
    width: 40px;
    min-width: 40px;
}

.selling-list li:hover a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: underline;
}

.selling-list a {
    font-size: 16px;
    font-weight: 400;
    color: var(--silver);
}



#product-delivery {
    background-color: var(--white);
    padding: 70px 0;
}

.delivery-div {
    display: flex;
}

.delivery-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.delivery-right h2 {
    font-size: 54px;
    font-weight: 600;
    margin: -25px 0 0;
    text-transform: capitalize;
}

.delivery-right p {
    font-size: 16px;
    font-weight: 400;
    margin: 36px 0 20px;
}

.delivery-sapns {
    margin-bottom: 34px;
    position: relative;
}

.delivery-right .delivery-sapns span {
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
}

.delivery-sapns span i {
    display: inline-block;
    width: 17px;
    height: 16px;
    background-image: url(../image/checkbox.png);
    margin-right: 11px;
}




#best-selling {
    background-color: var(--secondary);
}

.selling-div {
    width: 100%;
    display: flex;
    padding: 55px 0;
}

.selling-left {
    background-color: var(--white);
    padding: 15px 15px 25px;
    width: 240px;
    max-height: 542px;
}

.countdown {
    margin: 9px 0;
    display: flex;
}

.countdown div {
    margin-right: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary);
}

.countdown div:last-child {
    margin-right: 0px;
}

.countdown div h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
}

.countdown div span {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 11px;
}

.b_selling-info h3 {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}

.b_selling-info p {
    margin: 6px 10px 9px 0;
    font-size: 16px;
    line-height: 22px;
    color: var(--silver);
}

.prices-div {
    margin-bottom: 20px;
}

.prices-div span:first-child {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--silver);
    text-decoration: line-through;
}

.prices-div span:last-child {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
}

.add-bag {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.add-bag a {
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary);
    padding: 14px 33px 14px 57px;
}

.add-bag a::before {
    content: "";
    position: absolute;
    left: 32px;
    width: 15px;
    height: 18px;
    background-image: url(../image/bag.png);
    background-position: center
}

.add-bag img {
    width: 18px;
    height: 18px;
}

.selling-right {
    width: 100%;
}

.selling-right-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling-right-div .selling-list ul {
    margin: 15px 0 25px;
}

.selling-products-list {
    display: flex;
    flex-wrap: wrap;
}

.product-selling {
    padding: 10px 22px 10px 10px;
    background-color: var(--white);
    margin: 0 0 15px 30px;
    transition: all 0.4s linear;
    position: relative;
    display: flex;
    max-height: 139px;
    box-sizing: border-box;
}

.product-selling:hover {
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.1);
}

.right-info {
    margin-left: 9px;
}

.right-info>* {
    margin: 4px 0;
}

.product-selling h3 {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.p_s-prices h4 {
    display: inline-block;
    margin-right: 5px;
}

.p_s-last-price {
    font-size: 13px;
    font-weight: 400;
    color: var(--silver);
    text-decoration: line-through;
}

.p_s-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.right-info a {
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 20px;
}

.stars i {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-image: url(../image/Star\ 4.png);
}

.stars i:last-child {
    background-image: url(../image/Star\ 5.png);
}




#online-shop {
    background-color: var(--white);
    padding: 70px;
}

.online-shop-div {
    display: flex;
}

.o_shop-left {
    flex-grow: 1;
}

.o_shop-left h2 {
    font-size: 48px;
    font-weight: 600;
    width: 590px;
    margin-top: 130px;
}

.o_shop-left p {
    font-size: 16px;
    font-weight: 400;
    margin: 14px 0 43px;
}

.app :first-child img {
    margin-right: 20px;
}

.o_shop-right {
    flex-grow: 1;
}

.card-container {
    display: flex;
    justify-content: center;
    position: relative;
    translate: 10px;
}

.card-container :nth-child(2) {
    position: absolute;
    z-index: 1;
    top: 8px;
}

.card-container :nth-child(1) {
    translate: 13px;
}

.card-container :nth-child(3) {
    translate: -21px;
}




footer {
    padding: 90px 0 26px;
    background-color: var(--secondary);
}

.footer-div {
    display: flex;
    width: 100%;
}

.footer-left {
    margin: 17px;
    display: flex;
    flex-direction: column;
}

.footer-left span {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 18px;
    color: var(--silver);
}

.sosial a {
    margin-right: 10px;
}

.footer-main {
    display: flex;
    width: 100%;
}

.footer-switchs {
    width: 100%;
}

.footer-switchs h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    text-transform: capitalize;
}

.footer-switchs i {
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--silver);
    margin: 20px 0;
}

.footer-switchs ul li {
    margin-top: 10px;
}

.footer-switchs ul li a {
    color: var(--silver);
    font-size: 16px;
    font-weight: 400;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 17px;
    margin-top: 32px;
}

.footer-bottom span {
    font-size: 16px;
    font-weight: 400;
    color: var(--silver);
}